extends layout

block content
  include newstaticheader.pug
  section.subpage-main-section
    .subpage-main-text
      h1 About Me
      p My name is Danny Solis. Thank you, for taking the time to visit my portfolio site. 
      p I'm a husband, technologist, pet rescue advocate, and photographer. My world is comprised of a wonderful wife and two spoiled rotten Shih Tzus. We live, laugh, and love in Austin, TX.
      p I created <a href="/">march76.com</a> to showcase my work and share stories from my creative ventures.
        |  I also founded a site, called <a href="https://totespets.com">totespets.com</a>, centered around the topic of pet rescue and adoption.
    .subpage-main-image(style="background-image: url(./images/mar76-Lulu-highres.jpg)")
    .subpage-main-text
      p Photography has been a passion of mine, since I was a teenager. I started shooting with film on a Pentax PZ10, learning proper exposure, focus, and composition.
        |  Technology has come a long way since then, but the craft remains the same. My hope is that this site will journal my pursuit of interesting images that are sharp and well-composed. 
        |  My <a href="/blog">blog</a> is a collection of photo stories and personal thoughts on the art of photography.
    .subpage-main-image(style="background-image: url(./images/mar76-Idea-highres.jpg)")
    .subpage-main-text
      p I'm finding new inspiration every day, chances to learn from and work with other creatives. 
        |  Photography is so much more than clicking a shutter at the right time. For me, it's creating a mood and telling a story through a lens. 
        |  My <a href="/gallery">gallery</a> features some of the more memorable images that I've captured.
        |  As I discover new subjects and creative opportunities, my portfolio will continue to evolve and present a cross-section of my best work.
    .subpage-main-image(style="background-image: url(./images/mar76-JayeElle-highres.jpg)")
    .subpage-main-text
      p I'd love the chance to collaborate and memorialize a collection of images for you. Feel free to <a href="/contact">contact me</a> for rates and availabilty. Through my site <a href="https://totespets.com">totespets.com</a>, I offer my services free of charge to any pet rescue organization in the Central Texas area.   
      P You can also find additional shared content on my personal Instagram and Twitter feeds.
      .contact-social
        a(href="https://www.instagram.com/dannysolisatx")
          i.fab.fa-instagram
        a(href="https://www.twitter.com/dannysolisatx")
          i.fab.fa-twitter 
  footer.toggle-nav
    span.icon
      i.fal.fa-angle-up.fa-2x
    a(href="/gallery")
      h3 Gallery
    a(href="/blog")
      h3 Blog
    a(href="/contact")
      h3 Contact
    p Copyright &copy 2018 All Rights Reserved
