extends layout

block content
  include staticheader.pug
  section.subpage-main-section
    h1 About Me
    p My name is Danny Solis. I'm a husband, technologist, advocate for pet rescue, and photographer.
  footer
    a(href="/gallery")
      h3 gallery
    h3 /
    a(href="/blog")
      h3 blog
    h3 /
    a(href="/contact")
      h3 contact
