extends layout

block content
  include staticheader.pug
  section.subpage-main-section
    each h in posts
      .blog-block.group
        .headline-block
          a(href=`/blog/${h.quick}`)
            h3= h.headline
          h4= h.desc
          span= h.date
  footer
    a(href="/gallery")
      h3 gallery
    h3 /
    a(href="/about")
      h3 about me
    h3 /
    a(href="/contact")
      h3 contact
