extends layout

block content
  include newstaticheader.pug
  section.subpage-main-section
    each h in posts
      .blog-block.group
        .headline-block
          a(href=`/blog/${h.quick}`)
            h3= h.headline
          h4= h.desc
          span= h.date
  footer.toggle-nav
    span.icon
      i.fal.fa-angle-up.fa-2x
    a(href="/gallery")
      h3 Gallery
    a(href="/about")
      h3 About Me
    a(href="/contact")
      h3 Contact
    p Copyright &copy 2019 All Rights Reserved
