extends layout

block content
  include newstaticheader.pug
  section.subpage-main-section
    each h in posts
      .blog-block.group
        .headline-block
          a(href=`/blog/${h.quick}`)
            h3= h.headline
          h4= h.desc
          span= h.date
  include staticfooter.pug
