extends layout

block content
  include staticheader.pug
  section.subpage-main-section.blog-section
    h2= blogpost[0].headline
    article
      each n in blogpost[0].story
        h4= n.subheader
        each x in n.text
          p!= x
      a(href="/blog") Back to Blog
  footer.toggle-nav
    span.icon
      i.fal.fa-angle-up.fa-2x
    a(href="/gallery")
      h3 gallery
    a(href="/about")
      h3 about me
    a(href="/contact")
      h3 contact
    p Copyright &copy 2018 All Rights Reserved
