extends layout

block metas
  meta(property="og:url", content=`https://march76.com/contact`)
  meta(property="og:site_name", content="March 76")
  meta(property="og:description", content=`Danny Solis is a creative photographer based in Austin, TX. Contact him for portrait sessions and collaborative photo shoots.`)
  meta(property="og:image", content='https://march76.com/images/m76-pageimage-wht.png')
  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:image:src", content='https://march76.com/images/m76-pageimage-wht.png')

block content
  section.subpage-main-section
    h1 Contact Me
    article.contact-article
      h4 Thanks for contacting me. You should receive a confirmation message shortly.
