extends layout

block content
  include staticheader.pug
  section.subpage-main-section
    article.contact-article
      h1 Contact Me
      h4 Let's collaborate
      p I love a great project. I'm always looking for opportunities to work with models, stylists, designers, and artists. 
        |Let me know how I could contribute to your creative photo shoot.
      h4 Let's get you some portraits 
      p I capture images used for a variety of purposes. Headshots, portraits, commercial, product, just to name a few. 
        |I offer affordable rates and weekend availabilty for busy schedules.
      h4 Let's connect
      p I'm on Instragram and Twitter, posting photos and the occassional funny meme. Give me a follow to get a behind-the-scenes look at my work and shenanigans.
      .contact-social
        a(href="https://www.instagram.com/dannysolisatx")
          i.fab.fa-instagram
        a(href="https://www.twitter.com/dannysolisatx")
          i.fab.fa-twitter  
      h4 Send me an email
      p The best way to reach me is via email. Send me a message with your photo needs and potential timeframe. 
        |Be sure to leave your name and best return contact info. I will respond in one business day.
      .contact-social
        span danny@march76.com  
  footer.toggle-nav
    span.icon
      i.fal.fa-angle-up.fa-2x
    a(href="/gallery")
      h3 Gallery
    a(href="/blog")
      h3 Blog
    a(href="/about")
      h3 About Me
    p Copyright &copy 2018 All Rights Reserved
