extends layout

block content
  section.entry-section.entry-section-error
    .entry-blend
      .entry-logo
        span 
          i.fal.fa-exclamation-triangle.fa-2x
        h2= message
        h4 Well that's not good
        a(href="/") Try Again
  h4= error.status
  pre #{error.stack}
