section.subpage-main-section
  article
    h2 FAQ
    h4.faq-span-question How much do you charge for portraits or headshots?
    p.faq-span-answer Portraits and headshots start with the basic packages described below. Pricing may change depending on any special requests, such as special locations, scenery, or props.
    ul
      li Portraits, In Studio - $200, covers 30 minute session and 5 edited final images, $10 for each additional image requested.
      li Headshots, In Studio - $100, covers 20 minute session and 3 edited final images, $10 for each additional image requested.
    h4.faq-span-question How much do you charge for commercial or product photos?
    p.faq-span-answer There are many variables that determine the cost of a photo session, particularly for fashion or commercial photography. 
      |Production time, models, location, special equipment, and intended photo use can all factor into the budget for commercial photos. We'll talk over your project and what you hope to achieve with your photos. Then, we'll put together a sensible budget that meets your needs. I try to keep the pricing structure simple, starting with the basic fees described below.
    ul
      li Creative Fee - covers pre-production planning and setup, session time, and post processing.
      li Licensing Fee - covers intended usage and exclusivity for an agreed upon timeframe.
      li Itemized Expenses - covers the cost of extra resources needed for your photos, i.e. - models, location rentals, special equipmment.
    h4.faq-span-question How soon do I receive my photos?
    p.faq-span-answer The typical delivery time for portraits and individual headshots is 5 business days. For commercial photos and group headshots, the date of deliver depends largely on the size of the project or the number of participants. 
      |For all sessions, large or small, a final due date will be established and approved before your project begins.
    h4.faq-span-question Do you watermark your images?
    p.faq-span-answer At times, I will watermark images that I share online. I also watermark proofs for review by clients, as needed. However, final images delivered to clients are never watermarked.
    h4.faq-span-question Can I share and print my portraits and headshots?
    p.faq-span-answer Absolutely, individual portraits and headshots can be shared online or printed.  I provide an unlimited photo release for all images to non-commercial clients.
    //h4.faq-span-question Do you share client photos online?
    //p.faq-span-answer Though I do retain full rights to all images that I create, I will never share your photos online without your written permission.
    h4.faq-span-question Do you intend to sell my photos on a stock photography marketplace?
    p.faq-span-answer Certain commercial photos may be sold as stock photography, depending on the agreed upon terms of the assignment. Photos cannot be resold as stock when an exclusive license agreement is in place. Portraits and headshots taken for non-commercial purposes will never be resold as stock photography.
    h4.faq-span-question Do you retouch or edit photos?
    p.faq-span-answer I personally retouch all photos to reduce minor skin blemishes.  I also edit photos to adjust color tones or lighting, as needed.  I will not, under any circumstances, alter or manipulate human bodies in a way that changes their original shape or size.
