extends layout

block metas
  meta(property="og:url", content=`https://march76.com/`)
  meta(property="og:type", content="website")
  meta(property="og:site_name", content="March 76")
  meta(property="og:description", content=`Danny Solis is a creative photographer based in Austin, TX. His website showcases his work and shares stories of his creative endeavers.`)
  meta(property="og:image", content='https://photos.smugmug.com/photos/i-nRmF6sV/0/e9575663/XL/i-nRmF6sV-XL.png')
  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:image:src", content='https://photos.smugmug.com/photos/i-nRmF6sV/0/e9575663/XL/i-nRmF6sV-XL.png')

block content
  section
    .landing-hero
      h1 march{76}
      h3 Creative Photography for Personal and Commercial
      br
      h3 Danny Solis | <i class="fad fa-map-marker-alt"></i> Austin, TX
      .contact-social
        a(href="https://www.instagram.com/dannysolisatx")
          i.fab.fa-instagram
        a(href="https://www.twitter.com/dannysolisatx")
          i.fab.fa-twitter
        a(href="mailto:danny@march76.com")
          i.fas.fa-envelope-square      
    .landing-section-grid.grid-skew-right
      .single-frame-one
        img(src="https://photos.smugmug.com/photos/i-c9M5cn5/0/a906b3db/X2/i-c9M5cn5-X2.jpg")
      .single-frame-two
        img(src="https://photos.smugmug.com/photos/i-SVh8DhN/0/9dbc955f/X2/i-SVh8DhN-X2.jpg")
      .single-frame-three
        img(src="https://photos.smugmug.com/photos/i-6mNdtw3/0/ca355d24/L/i-6mNdtw3-L.jpg")
      .single-frame-four
        img(src="https://photos.smugmug.com/photos/i-pZmHMxN/0/b4fb58b9/L/i-pZmHMxN-L.jpg")
      .largepic.wide-frame-one
        img(src="https://photos.smugmug.com/photos/i-Q4hmjGB/3/f261852c/X2/i-Q4hmjGB-X2.jpg")
      .landing-value-offer.wide-frame-two
        h2 Beauty
        p Creative collaborations with models, makeup artists, and stylists.  Let's build a portfolio that gets attention and promotes your unique talent.
        a(href="/portfolio/beauty") I'm Interested In Beauty Photos
    .landing-section-grid.grid-skew-left
      .single-frame-one
        img(src="https://photos.smugmug.com/photos/i-6SGD6ZF/0/3eae1c07/L/i-6SGD6ZF-L.jpg")
      .single-frame-two
        img(src="https://photos.smugmug.com/photos/i-6SGD6ZF/0/3eae1c07/L/i-6SGD6ZF-L.jpg")
      .single-frame-three
        img(src="https://photos.smugmug.com/photos/i-5zttF2j/0/3a69d61b/XL/i-5zttF2j-XL.jpg")
      .single-frame-four
        img(src="https://photos.smugmug.com/photos/i-ztfdDTs/0/841d8d05/L/i-ztfdDTs-L.jpg")
      .largepic.wide-frame-one
        img(src="https://photos.smugmug.com/photos/i-btrz63F/0/7208e571/XL/i-btrz63F-XL.jpg")
      .landing-value-offer.wide-frame-two
        h2 Portraits
        p A great portrait can speak to your personality without saying a word. I can capture your best moments, actions, and smiles to share with friends and family. And, yes, I'm happy to accommodate your furry family members.
        a(href="/portfolio/portrait") I'm Interested In Portraits
    .landing-section-grid.grid-skew-right
      .single-frame-one
        img(src="https://photos.smugmug.com/photos/i-njpSXcf/0/04fd63c3/L/i-njpSXcf-L.jpg")
      .single-frame-two
        img(src="https://photos.smugmug.com/photos/i-SVh8DhN/0/9dbc955f/X2/i-SVh8DhN-X2.jpg")
      .single-frame-three
        img(src="https://photos.smugmug.com/photos/i-6mNdtw3/0/ca355d24/L/i-6mNdtw3-L.jpg")
      .single-frame-four
        img(src="https://photos.smugmug.com/photos/i-RvTpVpS/0/3ff9f9dd/S/i-RvTpVpS-S.jpg")
      .largepic.wide-frame-one
        img(src="https://photos.smugmug.com/photos/i-hc7jbxM/0/a8ad5154/XL/i-hc7jbxM-XL.jpg")
      .landing-value-offer.wide-frame-two
        h2 Headshots
        p A professional headshot is a virtual handshake that opens doors to new business connections and partnerships. Let's balance your ambition with an approachable charm that works to your advantage on any marketing channel. 
        a(href="/portfolio/headshot") I'm Interested In Headshots
    .landing-section-grid.grid-skew-left
      .single-frame-one
        img(src="https://photos.smugmug.com/photos/i-8hwLjf2/0/90838e4c/L/i-8hwLjf2-L.jpg")
      .single-frame-two
        img(src="https://photos.smugmug.com/photos/i-gBKfjdR/0/d668969a/M/i-gBKfjdR-M.jpg")
      .single-frame-three
        img(src="https://photos.smugmug.com/photos/i-h4pH9j6/0/f1c0aadb/X2/i-h4pH9j6-X2.jpg")
      .single-frame-four
        img(src="https://photos.smugmug.com/photos/i-4z6gz7p/0/c125bfc0/X2/i-4z6gz7p-X2.jpg")
      .largepic.wide-frame-one
        img(src="https://photos.smugmug.com/photos/i-xZ2Sb5R/0/0d5cd096/O/i-xZ2Sb5R.jpg")
      .landing-value-offer.wide-frame-two
        h2 Products
        p Stock photos will never promote your unique brand in a meaningful way. I can build a suite of commercial photos, tailored to your business, that help drive traffic and convert viewers into consumers.
        a(href="/portfolio/product") I'm Interested In Product Photos
