extends layout

block metas
  meta(property="og:url", content=`https://march76.com/`)
  meta(property="og:type", content="website")
  meta(property="og:site_name", content="March 76")
  meta(property="og:description", content=`Danny Solis is a creative photographer based in Austin, TX. His website showcases his work and shares stories of his creative endeavers.`)
  meta(property="og:image", content='https://photos.smugmug.com/photos/i-nRmF6sV/0/e9575663/XL/i-nRmF6sV-XL.png')
  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:image:src", content='https://photos.smugmug.com/photos/i-nRmF6sV/0/e9575663/XL/i-nRmF6sV-XL.png')

block content
  section.landing-splash-container.clearfix
    .landing-splash-grid.clearfix
      .grid-one
        img(src='https://photos.smugmug.com/photos/i-X4HGc4d/0/a6772c5e/X2/i-X4HGc4d-X2.jpg')
        i.fas.fa-camera-retro.fa-5x
        a(href="https://march76photography.com")
          h4 march76photography.com
      .grid-two
        img(src='https://photos.smugmug.com/photos/i-3vvZcx9/0/ab9d7a31/O/i-3vvZcx9.gif')
        i.fas.fa-atom-alt.fa-5x
        h4 Coming 2022... march76animation.com
