extends layout

block metas
  meta(name="keywords", content="danny solis, austin texas photographer, danny solis photographer")

block content
  include movingheader.pug
  main
    section.entry-section
      .entry-blend
        .entry-logo
          h1 march76
          h4 Creative Photography by Danny Solis
  include entryfooter.pug
