extends layout

block metas
  meta(property="og:url", content=`https://march76.com/`)
  meta(property="og:type", content="website")
  meta(property="og:site_name", content="March 76")
  meta(property="og:description", content=`Danny Solis is a creative photographer based in Austin, TX. His website showcases his work and shares stories of his creative endeavers.`)
  meta(property="og:image", content='https://photos.smugmug.com/photos/i-nRmF6sV/0/e9575663/XL/i-nRmF6sV-XL.png')
  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:image:src", content='https://photos.smugmug.com/photos/i-nRmF6sV/0/e9575663/XL/i-nRmF6sV-XL.png')

block content
  section.landing-splash-container
    .landing-splash-grid
      i.fas.fa-truck-moving.fa-4x
      br
      h4 If you're looking for my photography site, I've packed up and moved to a bigger, better place...
      a(href="https://march76photography.com")
        h4 march76photography.com
      
