extends layout

block content
  include movingheader.pug
  main
    section.entry-section
      .entry-nav
        a(href="/about")
          h1 Danny Solis
        h1 /
        a(href="/gallery")
          h1 Gallery
        h1 /
        a(href="/blog")
          h1 Blog
    footer#fadein-footer
      a(href="/contact")
        h3 Contact
      p Copyright &copy 2018 All Rights Reserved
