extends layout

block metas
  meta(name="keywords", content="danny solis, austin texas photographer, danny solis photographer")

block content
  include movingheader.pug
  main
    section.entry-section
      .entry-blend
        .entry-nav
          h1 march76
          a(href="/about")
            h3 Danny Solis
          a(href="/gallery")
            h3 Gallery
          a(href="/blog")
            h3 Blog
    footer#fadein-footer
      a(href="/contact")
        h3 Contact
      p Copyright &copy 2019 All Rights Reserved
