extends layout

block metas
  meta(property="og:url", content=`https://march76.com/`)
  meta(property="og:type", content="website")
  meta(property="og:site_name", content="March 76")
  meta(property="og:description", content=`Danny Solis is a creative photographer based in Austin, TX. His website showcases his work and shares stories of his creative endeavers.`)
  meta(property="og:image", content='https://march76.com/images/m76-pageimage-wht.png')
  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:image:src", content='https://march76.com/images/m76-pageimage-wht.png')
  meta(name="keywords", content="danny solis, austin texas photographer, danny solis photographer")

block content
  include movingheader.pug
  main
    section.entry-section.entry-section-success
      .entry-blend
        .entry-logo
          h1 march76
    section.entry-section.entry-about
      article
        p My name is Danny Solis.  I'm a creative photographer living in Austin, TX
        a(href="/about") Learn more about me...
    .subpage-row
      section.entry-section.entry-beauty
        article
          h3 Beauty
          p A delicate mix of fashion and art combine to create a visual that inspires as well as it promotes.
          a(href="/portfolio") See more beauty...
      section.entry-section.entry-headshot
        article
          h3 Headshot
          p Your virtual handshake
          a(href="/portfolio") See more headshots...
    .subpage-row
      section.entry-section.entry-portrait
        article
          h3 Portrait
          p Your portrait is your personality explained without saying a word.
          a(href="/portfolio") See more portraits...   
      section.entry-section.entry-product
        article
          h3 Product
          p Stock photos simply won't portray your product or brand in a meaningful way.  
            |With the utmost detail, I can create a suite of images that connect with your target audience and help convert viewers into consumers.
          a(href="/portfolio") See more products...
    section.entry-section.entry-contact
      article
        h3 Contact
        p Let's create and share the best of you and your brand.
        p danny@march76.com
  include staticfooter.pug
