extends layout

block content
  include movingheader.pug
  main
    section.entry-section
      .entry-blend
        .entry-nav
          h1 march76
          a(href="/about")
            h2 Danny Solis
          h2 |
          h2 -
          a(href="/gallery")
            h2 Gallery
          h2 |
          h2 -
          a(href="/blog")
            h2 Blog
    footer#fadein-footer
      a(href="/contact")
        h3 Contact
      p Copyright &copy 2019 All Rights Reserved
