extends layout

block metas
  meta(property="og:url", content=`https://march76.com/`)
  meta(property="og:type", content="website")
  meta(property="og:site_name", content="March 76")
  meta(property="og:description", content=`Danny Solis is a creative photographer based in Austin, TX. His website showcases his work and shares stories of his creative endeavers.`)
  meta(property="og:image", content='https://march76.com/images/m76-pageimage-wht.png')
  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:image:src", content='https://march76.com/images/m76-pageimage-wht.png')
  meta(name="keywords", content="danny solis, austin texas photographer, danny solis photographer")

block content
  include newstaticheader.pug
  main
    section
      .landing-hero
        h1 march{76}
        h3 Creative Photography by Danny Solis
        .contact-social
          a(href="https://www.instagram.com/dannysolisatx")
            i.fab.fa-instagram
          a(href="https://www.twitter.com/dannysolisatx")
            i.fab.fa-twitter
          a(href="mailto:danny@march76.com")
            i.fas.fa-envelope-square
      .landing-section-grid.grid-skew-right
        .single-frame-one
          img(src="https://photos.smugmug.com/photos/i-c9M5cn5/0/a906b3db/X2/i-c9M5cn5-X2.jpg")
        .single-frame-two
          img(src="https://photos.smugmug.com/photos/i-SVh8DhN/0/9dbc955f/X2/i-SVh8DhN-X2.jpg")
        .single-frame-three
          img(src="https://photos.smugmug.com/photos/i-6mNdtw3/0/ca355d24/L/i-6mNdtw3-L.jpg")
        .single-frame-four
          img(src="https://photos.smugmug.com/photos/i-pZmHMxN/0/b4fb58b9/L/i-pZmHMxN-L.jpg")
        .largepic.wide-frame-one
          img(src="https://photos.smugmug.com/photos/i-Q4hmjGB/3/f261852c/X2/i-Q4hmjGB-X2.jpg")
        .landing-value-offer.wide-frame-two
          h2 Beauty
          p Creative concepts made to inspire and promote.
          a(href="/") I'm Interested In Beauty Photos
      .landing-section-grid.grid-skew-left
        .single-frame-one
          img(src="https://photos.smugmug.com/photos/i-dFFShQk/0/21b1f88e/XL/i-dFFShQk-XL.jpg")
        .single-frame-two
          img(src="https://photos.smugmug.com/photos/i-5zttF2j/0/3a69d61b/XL/i-5zttF2j-XL.jpg")
        .single-frame-three
          img(src="https://photos.smugmug.com/photos/i-6mNdtw3/0/ca355d24/L/i-6mNdtw3-L.jpg")
        .single-frame-four
          img(src="https://photos.smugmug.com/photos/i-ztfdDTs/0/841d8d05/L/i-ztfdDTs-L.jpg")
        .largepic.wide-frame-one
          img(src="https://photos.smugmug.com/photos/i-btrz63F/0/7208e571/XL/i-btrz63F-XL.jpg")
        .landing-value-offer.wide-frame-two
          h2 Portraits
          p Voice your personality without saying a word
          a(href="/") I'm Interested In Portraits
      .landing-section-grid.grid-skew-right
        .single-frame-one
          img(src="https://photos.smugmug.com/photos/i-njpSXcf/0/04fd63c3/L/i-njpSXcf-L.jpg")
        .single-frame-two
          img(src="https://photos.smugmug.com/photos/i-SVh8DhN/0/9dbc955f/X2/i-SVh8DhN-X2.jpg")
        .single-frame-three
          img(src="https://photos.smugmug.com/photos/i-6mNdtw3/0/ca355d24/L/i-6mNdtw3-L.jpg")
        .single-frame-four
          img(src="https://photos.smugmug.com/photos/i-RvTpVpS/0/3ff9f9dd/S/i-RvTpVpS-S.jpg")
        .largepic.wide-frame-one
          img(src="https://photos.smugmug.com/photos/i-hc7jbxM/0/a8ad5154/XL/i-hc7jbxM-XL.jpg")
        .landing-value-offer.wide-frame-two
          h2 Headshots
          p A professional headshot is a virtual handshake that opens doors to new business connections and partnerships
          a(href="/") I'm Interested In Headshots
      .landing-section-grid.grid-skew-left
        .single-frame-one
          img(src="https://photos.smugmug.com/photos/i-X4HGc4d/0/a6772c5e/M/i-X4HGc4d-M.jpg")
        .single-frame-two
          img(src="https://photos.smugmug.com/photos/i-gBKfjdR/0/d668969a/M/i-gBKfjdR-M.jpg")
        .single-frame-three
          img(src="https://photos.smugmug.com/photos/i-6mNdtw3/0/ca355d24/L/i-6mNdtw3-L.jpg")
        .single-frame-four
          img(src="https://photos.smugmug.com/photos/i-ztfdDTs/0/841d8d05/L/i-ztfdDTs-L.jpg")
        .largepic.wide-frame-one
          img(src="https://photos.smugmug.com/photos/i-HNcDCwc/0/d66e8d14/O/i-HNcDCwc.jpg")
        .landing-value-offer.wide-frame-two
          h2 Products
          p Stock photos will never promote and sell your brand in a meaningful way. Let me build a suite of photos that converts viewers into consumers.
          a(href="/") I'm Interested In Product Photos
