extends layout

block metas
  meta(property="og:url", content=`https://march76.com/`)
  meta(property="og:type", content="website")
  meta(property="og:site_name", content="March 76")
  meta(property="og:description", content=`Danny Solis is a creative photographer based in Austin, TX. His website showcases his work and shares stories of his creative endeavers.`)
  meta(property="og:image", content='https://photos.smugmug.com/photos/i-nRmF6sV/0/e9575663/XL/i-nRmF6sV-XL.png')
  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:image:src", content='https://photos.smugmug.com/photos/i-nRmF6sV/0/e9575663/XL/i-nRmF6sV-XL.png')

block content
  section.landing-splash-container
    .landing-splash-grid
      .grid-frame-one
        a(href='/')
          h1 march{76}
        h4 Creative Photography for Personal and Commercial
      .grid-frame-two
      .grid-frame-three
      .grid-frame-four
        .site-nav-container
          a.nav-site-link(href='/portfolio') Portfolio
          a.nav-site-link(href='/about') About Me
          a.nav-site-link(href='/blog') Blog
          a.nav-site-link(href='/contact') Contact
      .grid-frame-five
      .grid-frame-six
      .grid-frame-seven
      .grid-frame-eight
      .grid-frame-nine
        h4 Danny Solis | <i class="fad fa-map-marker-alt"></i> Austin, TX
        .contact-social
          a(href="https://www.instagram.com/dannysolisatx")
            i.fab.fa-instagram
          a(href="https://www.twitter.com/dannysolisatx")
            i.fab.fa-twitter
          a(href="mailto:danny@march76.com")
            i.fas.fa-envelope-square 
