doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="keywords", content="danny solis, austin texas photographer, danny solis photographer, march76, march 76, commercial photography, fashion photography")
    block metas
    title= title
    link(rel="shortcut icon", href="/images/favicon.ico")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/m76icons.min.js")
    script(src="/javascripts/m76brandicons.min.js")
    script(src="/javascripts/m76lighticons.min.js")
    script(src="/javascripts/m76solidicons.min.js")
    block links  
  body
    main.march76-basic-grid
      .grid-frame-one
        a(href='/')
          h1 march{76}
        h4 Creative Photography for Personal and Commercial
        span.nav-toggle
          i.fas.fa-chevron-down
        .site-nav-container
          a.nav-site-link(href='/portfolio') Portfolio
          a.nav-site-link(href='/about') About Me
          a.nav-site-link(href='/blog') Blog
          a.nav-site-link(href='/contact') Contact
      .grid-frame-two
        block content
    include staticfooter.pug
    script(src="https://code.jquery.com/jquery-3.5.1.min.js")
    script(src="/javascripts/script.js")
    block scripts
