header#moving-header
  .logo-container
    a(href="https://www.instagram.com/dannysolisatx")
      i.fab.fa-instagram
    span march76
    a(href="https://www.instagram.com/dannysolisatx")
      i.fab.fa-instagram
    a(href="https://www.twitter.com/dannysolisatx")
      i.fab.fa-twitter
