header#entry-header
  .expanda-nav
    span.icon
      i.fal.fa-bars.fa-2x
    .toggle-nav
      a(href="/gallery")
        h4 Gallery
      a(href="/about")
        h4 About Me
      a(href="/blog")
        h4 Blog
      a(href="/contact")
        h4 Contact 
