header#static-header
  span.icon
    i.fal.fa-bars.fa-2x
  .toggle-nav
    a(href="/gallery")
      h3 Gallery
    a(href="/about")
      h3 About Me
    a(href="/blog")
      h3 Blog
    a(href="/contact")
      h3 Contact  
  .header-logo-container
    a(href="/")
      span march76
