header#static-header
  .header-logo-container
    a(href="/")
      span march76
  .header-social-container  
    a(href="https://www.instagram.com/dannysolisatx")
      i.fab.fa-instagram
    a(href="https://www.twitter.com/dannysolisatx")
      i.fab.fa-twitter
