extends internallayout

block metas
  meta(property="og:url", content=`https://march76.com/gallery`)
  meta(property="og:site_name", content="March 76")
  meta(property="og:description", content=`Danny Solis is a creative photographer based in Austin, TX.  His gallery is a cross-section of his best work.`)
  meta(property="og:image", content='https://photos.smugmug.com/photos/i-nRmF6sV/0/e9575663/XL/i-nRmF6sV-XL.png')
  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:image:src", content='https://photos.smugmug.com/photos/i-nRmF6sV/0/e9575663/XL/i-nRmF6sV-XL.png')

block content
  h1 Portfolio
  .portfolio-image-grid
    figure.wide
      img(src="https://photos.smugmug.com/photos/i-JMPzBqN/0/69b4d3fc/XL/i-JMPzBqN-XL.jpg" alttext="haley nicole modeling isolde concept, taken by Danny Solis")
    figure.tall
      img(src="https://photos.smugmug.com/photos/i-TvxgZ6p/0/06420fbb/XL/i-TvxgZ6p-XL.jpg" alttext="alex jensen modeling timeless concept, taken by Danny Solis")    
    figure.wide
      img(src="https://photos.smugmug.com/photos/i-nh57nFk/0/30c0352e/XL/i-nh57nFk-XL.jpg" alttext="alex jensen modeling wrapped in blue concept, taken by Danny Solis")
    figure.tall
      img(src="https://photos.smugmug.com/photos/i-SVh8DhN/0/9dbc955f/X2/i-SVh8DhN-X2.jpg" alttext="alex jensen modeling black swan concept, taken by Danny Solis")
    figure.tall
      img(src="https://photos.smugmug.com/photos/i-dFFShQk/0/21b1f88e/XL/i-dFFShQk-XL.jpg" alttext="woman posing in swimsuit, taken by Danny Solis")
    figure.tall
      img(src="https://photos.smugmug.com/photos/i-pPvjrkW/0/93840391/XL/i-pPvjrkW-XL.jpg" alttext="portrait of danielle poe modeling, taken by Danny Solis")
    figure.wide
      img(src="https://photos.smugmug.com/photos/i-btrz63F/0/7208e571/M/i-btrz63F-M.jpg" alttext="man playing bass guitar at concert, taken by Danny Solis") 
    figure.tall
      img(src="https://photos.smugmug.com/photos/i-PJcVWbv/0/1287ad8b/X2/i-PJcVWbv-X2.jpg" alttext="man playing electic guitar in concert, taken by Danny Solis")
    figure.tall
      img(src="https://photos.smugmug.com/photos/i-4z6gz7p/0/c125bfc0/X2/i-4z6gz7p-X2.jpg" alttext="electric guitar product photo, taken by Danny Solis")
    figure.tall
      img(src="https://photos.smugmug.com/photos/i-ztfdDTs/0/841d8d05/X2/i-ztfdDTs-X2.jpg" alttext="portrait of ballet dancer posing on point, taken by Danny Solis")
    figure.wide
      img(src="https://photos.smugmug.com/photos/i-cfmMRTC/3/3a066429/M/i-cfmMRTC-M.jpg" alttext="alex jensen modeling lotus concept, taken by Danny Solis")
    figure.tall
      img(src="https://photos.smugmug.com/photos/i-njpSXcf/0/04fd63c3/XL/i-njpSXcf-XL.jpg" alttext="young lady portrait, taken by Danny Solis")
    figure.wide
      img(src="https://photos.smugmug.com/photos/i-Tqtgb24/0/1791412c/M/i-Tqtgb24-M.jpg" alttext="danny solis, professional photographer")
    figure.wide
      img(src="https://photos.smugmug.com/photos/i-RbM39J9/0/8f4353bd/M/i-RbM39J9-M.jpg" alttext="professional camera gear photo, taken by Danny Solis")
    figure.tall
      img(src="https://photos.smugmug.com/photos/i-h4pH9j6/0/f1c0aadb/X2/i-h4pH9j6-X2.jpg" alttext="professional camera product photo, taken by Danny Solis")
    figure.wide
      img(src="https://photos.smugmug.com/photos/i-7Z4XXmF/0/cbca9df7/M/i-7Z4XXmF-M.jpg" alttext="professional camera product photo, taken by Danny Solis")
    figure.wide
      img(src="https://photos.smugmug.com/photos/i-RW6Frcz/0/fdfede6f/M/i-RW6Frcz-M.jpg" alttext="portrait of yellow dog, taken by Danny Solis")
    figure.wide
      img(src="https://photos.smugmug.com/photos/i-6SGD6ZF/0/3eae1c07/L/i-6SGD6ZF-L.jpg" alttext="portrait of basset hound walking towards you, taken by Danny Solis")
    figure.wide
      img(src="https://photos.smugmug.com/photos/i-JQWWqNz/0/d1677ccb/M/i-JQWWqNz-M.jpg" alttext="portrait of rescue dog, taken by Danny Solis")
block scripts
  script(src='/javascripts/galleryscript.js')
