.side-nav
  .logo-container
    a(href="/")
      span march76 
  .side-nav-menu
    h3 About
    h3 Beauty
    h3 Product
    h3 Contact
  .footer-social-container  
    a(href="https://www.instagram.com/dannysolisatx")
      i.fab.fa-instagram
    a(href="https://www.twitter.com/dannysolisatx")
      i.fab.fa-twitter
  p Copyright &copy 2020 All Rights Reserved
