header
  .side-nav-container
    .logo-container
      span march76
      p Creative Photography by Danny Solis
    .side-nav-menu
      a(href="/portfolio")
        h4 Portfolio
      a(href="/about")
        h4 About Me
      a(href="/blog")
        h4 Blog
      a(href="/contact")
        h4 Contact
    .side-nav-footer
      .footer-social-container  
        a(href="https://www.instagram.com/dannysolisatx")
          i.fab.fa-instagram
        a(href="https://www.twitter.com/dannysolisatx")
          i.fab.fa-twitter
      p Copyright &copy 2020 All Rights Reserved
