header#static-header.clearfix
  .expanda-nav
    .logo-container
      a(href="/")
        span march{76}
    .toggle-nav-down
      span.icon
        i.fas.fa-chevron-circle-down.fa-2x    
    .toggle-nav
      a(href="/portfolio")
        h4 Portfolio
      a(href="/about")
        h4 About Me
      a(href="/blog")
        h4 Blog
      a(href="/contact")
        h4 Contact
