footer
  .footer-social-container  
    a(href="https://www.instagram.com/dannysolisatx")
      i.fab.fa-instagram
    a(href="https://www.twitter.com/dannysolisatx")
      i.fab.fa-twitter
  p Copyright &copy 2019 All Rights Reserved
