footer
  .contact-social  
    a(href="https://www.instagram.com/dannysolisatx")
      i.fab.fa-instagram
    a(href="https://www.twitter.com/dannysolisatx")
      i.fab.fa-twitter
    a(href="mailto:danny@march76.com")
      i.fas.fa-envelope-square
  .footer-disclosures
    p Copyright &copy 2020 All Rights Reserved
