header
  .logo-container
    a(href="https://www.instagram.com/dannysolis.atx")
      i.fab.fa-instagram
    span March76
    a(href="https://www.instagram.com/dannysolis.atx")
      i.fab.fa-instagram
    a(href="https://www.twitter.com/dsolisatx")
      i.fab.fa-twitter
