figure img {
  cursor: zoom-in;
  transition: all .3s;
}

.gallery-modal {
  display: none;
  position: fixed;
  z-index: 200;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0, 0, 0, .9);
}

.modal-content {
  margin: auto;
  display: block;
  height: auto;
  max-height: 80%;
  width: auto;
  max-width: 80%;
}

#modalCaption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #fff;
  padding: 10px 0;
  height: 150px;
}

.modal-content,
#modalCaption {
  -webkit-animation-name: galleryZoom;
  -webkit-animation-duration: 0.6s;
  animation-name: galleryZoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes galleryZoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes galleryZoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  transition: all .3s;
}

@media screen and (max-width: 555px){
    .modal-content {
        width: 100%;
    }
}
