@font-face {
    font-family: lowerFont;
    src: url('/fonts/Lato-Light.eot');
    src: url('/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Lato-Light.woff') format('woff'),
      url('/fonts/Lato-Light.otf') format('opentype'),
      url('/fonts/Lato-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: headerFont;
    src: url('/fonts/Berringer-Aged.eot');
    src: url('/fonts/Berringer-Aged.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Berringer-Aged.woff') format('woff'),
      url('/fonts/Berringer-Aged.otf') format('opentype'),
      url('/fonts/Berringer-Aged.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, input, textarea
dl, dt, dd, ol, ul, br,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, output, ruby, section, summary,
time, mark, audio, video {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    white-space: pre-line;
    vertical-align: baseline;
}

body {
  color: #333;
  background: #fff;
  font-family: 'lowerFont', sans-serif;
  height: auto;
  text-align: center;
  width: 100%;
  z-index: -1000;
}

h1,
.portfolio-filter-menu-option,
.logo-container span {
  font-family: 'headerFont', serif;
}

h1 {
  font-size: 50px;
  color: inherit;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: inherit;
}

h3 {
  font-size: 25px;
  font-weight: bold;
  color: inherit;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  color: inherit;
}

a,
p,
li,
label,
input,
textarea,
select,
blockquote,
.moodboard > span {
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-spacing: .1em;
  color: inherit;
}

a,
a:hover,
a:visited,
a:focus {
  color: inherit;
  text-decoration: none;
}

p,
li,
label,
br {
  margin: 10px 0;
}

ul {
  list-style-type: none;
  padding-left: 1em;
}

header {
  background: #333;
  color: #fff;
  height: auto;
  line-height: 80px;
  padding: 0 1%;
  width: 100%;
}

main {
  padding: 3%;
  height: auto;
}

.header-grid {
  display: grid;
  /* grid-template-columns: auto auto; */
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-flow: dense;
}

.landing-splash-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50%;
  justify-content: center;
}

.landing-splash-grid div {
  grid-column: span 1;
  grid-row: span 2;
}

.landing-splash-grid div h4 {
  margin: 10px auto;
}

.landing-splash-grid div a {
  text-decoration: underline;
}

.grid-one,
.grid-two {
  color: #333;
  padding: 5%;
}

.landing-splash-grid div img {
  display: block;
  width: 100%;
  height: 75%;
  object-fit: cover;
  margin-bottom: 10px;
}

footer {
  padding: 1%;
  width: 100%;
  margin: 20px auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 1200px) {
  .landing-splash-grid {
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
}
