/*
LIGHT GREEN: #00cc44
GREEN: #00802b
DARK GREEN: #003311
POWDER BLUE: #66b3ff
*/
@font-face {
    font-family: lowerFont;
    src: url('/fonts/Lato-Light.eot');
    src: url('/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Lato-Light.woff') format('woff'),
      url('/fonts/Lato-Light.otf') format('opentype'),
      url('/fonts/Lato-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {
    font-family: headerFont;
    src: url('/fonts/JuliusSansOne-Regular.eot');
    src: url('/fonts/JuliusSansOne-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/JuliusSansOne-Regular.otf') format('opentype'),
      url('/fonts/JuliusSansOne-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: headerFont;
    src: url('/fonts/WildSpiritAlt.eot');
    src: url('/fonts/WildSpiritAlt.eot?#iefix') format('embedded-opentype'),
      url('/fonts/WildSpiritAlt.woff') format('woff'),
      url('/fonts/WildSpiritAlt.otf') format('opentype'),
      url('/fonts/WildSpiritAlt.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, output, ruby, section, summary,
time, mark, audio, video {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
  color: #0a290a;
  background: #fff;
  font-family: 'lowerFont', sans-serif;
  height: 100vh;
  text-align: center;
  width: 100%;
  z-index: -1000;
}

article {
  height: auto;
  margin: 30px auto 0 auto;
  width: 60%;
}

h1,
.logo-container span {
  font-family: 'headerFont', serif;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

h3 {
  font-size: 30px;
  font-weight: bold;
}

h4 {
  font-size: 25px;
  font-weight: bold;
}

a,
p {
  font-size: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:hover,
a:visited,
a:focus {
  color: inherit;
}

p {
  color: black;
  margin: 10px 0;
}

header,
footer {
  background: #fff;
  position: fixed;
  width: 100vw;
  z-index: 100;
}

header {
  height: 100px;
}

header > div span {
  font-size: 50px;
  line-height: 100px;
  min-height: 20px;
  max-height: auto;
}

#entry-header {
  background: none;
  top: calc(100vh/2 - 50px);
}

.logo-container {
  height: 100%;
  margin: 0 auto;
  text-align: center;
  width: 100vw;
}

.logo-container a {
  color: #b3cccc;
  line-height: 100px;
  font-size: 30px;
  margin: 0 10%;
}

.logo-container a:nth-of-type(2) {
  display: none;
}

#entry-header .logo-container a {
  color: #fff;
  opacity: 0;
}

#entry-header > div span {
  transition: all .7s;
}

.entry-section {
  background: url("/images/mar76-home.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  display: none;
  height: 100vh;
  position: relative;
}

.entry-blend {
  background: none;
  height: 100%;
  width: 100%;
}

.entry-nav {
  top: 50%;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100vw
}

.entry-nav h1 {
  color: #fff;
  font-size: 250px;
  font-weight: lighter;
  margin-bottom: -80px;
}

.entry-nav h2,
footer h3 {
  display: inline-block;
}

.entry-nav h2 {
  line-height: 60px;
}

.entry-nav > h2,
footer > h3 {
  margin: 0 1%;
}

.subpage-main-section {
  padding: 130px 2% 100px 2%;
  text-align: left;
}

.subpage-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.subpage-main-text {
  height: auto;
  margin: 0 auto;
  width: 70%;
}

.subpage-main-image {
  background-position: center;
  background-size: cover;
  height: 400px;
  margin: 30px 0;
  width: 100%;
}

.gallery-column {
  height: auto;
  margin: 0 auto;
  width: 49%;
}

.gallery-column figure {
  position: relative;
}

.gallery-column figure img {
  cursor: zoom-in;
  transition: all .3s;
  height: auto;
  width: 100%;
}

.gallery-column figure figcaption {
  background: rgba(0,0,0,.5);
  bottom: 5px;
  color: #fff;
  height: auto;
  position: absolute;
  padding: 1%;
  transition: all 1s;
  width: 98%;
  opacity: 0;
}

.gallery-column figure:hover figcaption {
  opacity: 1;
}

.gallery-modal {
  display: none;
  position: fixed;
  z-index: 200;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0, 0, 0, .9);
}

.modal-content {
  cursor: zoom-out;
  margin: auto;
  display: block;
  height: auto;
  max-height: 80%;
  width: auto;
  max-width: 90%;
}

#modalCaption {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  max-width: 700px;
  color: #fff;
  padding: 10px 0;
  height: 150px;
}

.image-details {
  height: auto;
  margin: 0 auto;
  width: 30%;
  text-align: left;
}

.image-details span {
  display: block;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.blog-block {
  /*background: #0a290a;*/
  border: 2px solid #0a290a;
  border-radius: 10px;
  height: auto;
  margin: 10px auto;
  padding: 0 5px;
  width: 50%;
}

.headline-block {
  background: #fff;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  width: 80%;
}

.headline-block span {
  display: block;
  padding: 5px 0;
  margin-top: 5px;
}

.blog-section h2 {
  text-align: center;
}

.blog-section article h4,
.contact-article h4 {
  margin-top: 30px;
}

.contact-social {
  font-size: 30px;
  text-align: center;
  margin: auto;
}

.contact-social a {
  color: #b3cccc;
  font-size: 30px;
  margin: 0 20px;
}

footer {
  bottom: 0;
  height: 70px;
  overflow: hidden;
  padding-top: 8px;
}

.toggle-nav a {
  display: inline;
  margin: 0 1%;
}

footer p {
  font-size: 15px;
  margin-top: -1px;
}

#fadein-footer {
  color: #fff;
  background: none;
  display: none;
}

#fadein-footer p {
  color: #fff;
}

.icon {
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 555px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
  }

  h4,
  .contact-social {
    font-size: 20px;
  }

  a,
  p {
    font-size: 18px;
  }

  header {
    height: auto;
  }

  header > div span {
    display: block;
    line-height: 50px;
    font-size: 40px;
    margin-top: 10px;
  }

  .logo-container a {
    line-height: 30px;
    font-size: 25px;
  }

  .logo-container a:nth-of-type(2) {
    display: inline-block;
  }

  .logo-container a:first-of-type {
    display: none;
  }

  .entry-nav h1 {
    font-size: 150px;
    margin-bottom: -50px;
  }

  .entry-nav > h2 {
    display: none;
  }

  .entry-nav a {
    display: block;
  }

  .gallery-column {
    width: 99%;
  }

  .modal-content {
      width: 100%;
  }

  .icon {
    display: block;
  }

  .toggle-nav {
    height: auto;
    transition: all .7s;
  }

  .toggle-nav a {
    display: none;
  }

  .responsive a {
    display: block;
    margin: 5px auto;
  }

  .blog-block {
    width: 90%;
  }
}
