@font-face {
    font-family: lowerFont;
    src: url('/fonts/Lato-Light.eot');
    src: url('/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Lato-Light.woff') format('woff'),
      url('/fonts/Lato-Light.otf') format('opentype'),
      url('/fonts/Lato-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: headerFont;
    src: url('/fonts/WildSpiritAlt.eot');
    src: url('/fonts/WildSpiritAlt.eot?#iefix') format('embedded-opentype'),
      url('/fonts/WildSpiritAlt.woff') format('woff'),
      url('/fonts/WildSpiritAlt.otf') format('opentype'),
      url('/fonts/WildSpiritAlt.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, output, ruby, section, summary,
time, mark, audio, video {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
  color: #000;
  background: #fff;
  font-family: 'lowerFont', sans-serif;
  height: 100vh;
  text-align: center;
  width: 100%;
  z-index: -1000;
}

article {
  height: auto;
  margin: 0 auto;
  width: 60%;
}

h1,
.logo-container span {
  font-family: 'headerFont', serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  color: #333;
}

h3 {
  font-size: 30px;
  font-weight: bold;
  color: #333;
}

h4 {
  font-size: 25px;
  font-weight: bold;
  color: #333;
}

a,
p,
li,
.moodboard > span {
  font-size: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-spacing: .1em;
}

a,
a:hover,
a:visited,
a:focus {
  color: inherit;
}

p,
li,
br {
  color: black;
  margin: 10px 0;
}

header,
footer {
  background: rgba(255,255,255,.9);
  position: fixed;
  width: 100vw;
  z-index: 100;
}

header {
  height: auto;
  overflow: hidden;
  text-align: left;
}

#entry-header {
  background: none;
}

#entry-header,
#entry-header .expanda-nav .toggle-nav a h4 {
  color: #fff;
}

#static-header .expanda-nav span,
#static-header .expanda-nav .toggle-nav a h4 {
  color: #000;
}

.expanda-nav {
  background: none;
  line-height: 50px;
  height: 70px;
  padding: 10px;
  width: 10%;
}

.icon {
  cursor: pointer;
  margin-left: 10px;
}

.icon.fadein-icon {
  display: none;
}

.toggle-nav {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition: all .3s;
  width: 0;
  overflow: hidden;
  text-align: center;
}

.toggle-nav a {
  border-left: 1px none #000;
  border-right: 1px none #000;
  display: none;
  line-height: 40px;
  padding: 0px 10px;
  text-decoration: none;
  transition: all .5s;
  margin: 0px auto;
}

.toggle-nav a:hover {
  border-radius: 20px;
}

#entry-header .expanda-nav .toggle-nav a:hover {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

#static-header .expanda-nav .toggle-nav a:hover {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.logo-container {
  height: 50px;
  line-height: 50px;
  display: inline-block;
  margin-left: 20px;
  width: 10%;
}

.logo-container a,
.logo-container span {
  font-size: 30px;
  text-decoration: none;
}

.entry-section {
  background-position: center;
  background-size: cover;
  color: #fff;
  height: 100vh;
  position: relative;
}

.entry-section-success {
  background: url("/images/m76-MFS-2-wallpaper.jpg");
}

.entry-section-error {
  background: url("/images/m76-MFS-2-wallpaper-unfocused.jpg");
}

.entry-blend {
  background: rgba(0,0,0,.7);
  height: 100%;
  opacity: 0;
  width: 100%;
}

.entry-logo {
  display: none;
  top: 50%;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100vw
}

.entry-logo h1 {
  color: #fff;
  font-size: 250px;
  font-weight: lighter;
  margin-bottom: -105px;
}

.entry-logo h2 {
  color: #fff;
}

.entry-logo h4 {
  color: #fff;
  line-height: 40px;
  margin-top: 20px;
}

.subpage-main-section {
  padding: 100px 2% 90px 2%;
  text-align: left;
}

.subpage-main-section > h3 {
  margin-bottom: 20px;
  text-align: center;
}

.subpage-row,
.gallery-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-row {
  padding: 2%;
}

.subpage-main-text {
  height: auto;
  margin: 0 auto;
  width: 70%;
}

.subpage-main-image {
  background-position: center;
  background-size: cover;
  height: 400px;
  margin: 30px 0;
  width: 100%;
}

.gallery-header h4 {
  display: inline-block;
  margin-right: 20px;
}

.gallery-column {
  height: auto;
  margin: 0 auto;
  width: 49%;
}

.gallery-sub-column {
  height: auto;
  margin: 0 auto;
  width: 600px;
}

.gallery-column figure,
.gallery-sub-column figure {
  position: relative;
  margin: 0 auto;
  width: 600px;
}

.gallery-column figure img,
.gallery-sub-column figure img {
  cursor: zoom-in;
  transition: all .3s;
  height: auto;
  width: 100%;
}

.gallery-column figure figcaption,
.gallery-sub-column figure figcaption {
  background: rgba(0,0,0,.5);
  bottom: 5px;
  color: #fff;
  height: auto;
  position: absolute;
  padding: 1%;
  transition: all 1s;
  width: 100%;
  opacity: 0;
}

.gallery-column figure:hover figcaption,
.gallery-sub-column figure:hover figcaption {
  opacity: 1;
}

.gallery-collection {
  background-position: center;
  background-size: cover;
  height: 900px;
  width: 600px;
  margin: 5px auto;
  transition: all 1s;
}

.gallery-collection-hover {
  background: rgba(0,0,0,.5);
  color: #fff;
  height: 900px;
  width: 600px;
  text-align: center;
  opacity: 0;
  position: relative;
  transition: all 1s;
}

.gallery-collection-hover:hover {
  opacity: 1;
}

.gallery-collection-hover h2 {
  color: #fff;
  display: block;
  padding-left: 1em;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: left;
}

.gallery-collection-header {
  margin-bottom: 30px;
}

.gallery-modal {
  display: none;
  position: fixed;
  z-index: 200;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0, 0, 0, .9);
}

.modal-content {
  cursor: zoom-out;
  margin: auto;
  display: block;
  height: auto;
  max-height: 80%;
  width: auto;
  max-width: 90%;
}

#modalCaption {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  max-width: 700px;
  color: #fff;
  padding: 10px 0;
  height: 150px;
}

.image-details {
  color: #fff;
  height: auto;
  margin: 0 auto;
  width: 30%;
  text-align: center;
}

.image-details span {
  display: block;
}

.image-details h4 {
  color: #fff;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.blog-block {
  border: 2px solid #ccc;
  border-radius: 10px;
  height: auto;
  margin: 10px auto;
  padding: 0 5px;
  width: 50%;
}

.headline-block {
  background: #fff;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  width: 80%;
}

.headline-block span {
  display: block;
  padding: 5px 0;
  margin-top: 5px;
}

.blog-section h2 {
  text-align: center;
}

.blog-section article h4,
.contact-article h4 {
  margin-top: 30px;
}

.blog-section article figure img {
  height: auto;
  width: 100%;
}

.blog-section article figure figcaption {
  color: #737373;
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

.blog-section .bio-block {
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  color: #737373;
  font-style: italic;
  margin-top: 20px;
}

.blog-section .bio-block img {
  display: block;
  border-radius: 100%;
  margin: 5px auto;
  width: 150px;
  height: 150px;
}

.contact-article ul {
  list-style: none;
  padding-left: 1em;
}

.contact-social {
  font-size: 30px;
  text-align: center;
  margin: auto;
}

.contact-social a {
  color: #ccc;
  font-size: 30px;
  margin: 0 20px;
}

.moodboard {
  width: 85%;
  margin: 0 auto;
  padding-top: 100px;
}

.moodboard-hero-header {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: auto;
  width: 100%;
}

.moodboard-hero-blend {
  background: rgba(0,0,0,.5);
  height: auto;
  padding: 5%;
  width: 100%;
}

.moodboard-hero-blend h2,
.moodboard-hero-blend p {
  color: #fff;
}

.moodboard > p,
.moodboard > h4 {
  display: block;
  margin: 20px 0;
}

.moodboard h4 {
  text-decoration: underline;
}

.team-member {
  display: block;
}

.project-status {
  color: #fff;
  font-weight: bold;
  padding: 5px 15px;
}

.result-image {
  display: block;
  height: auto;
  margin: 20px auto;
  max-width: 1000px;
  width: 90%;
}

.moodboard-collage:last-of-type {
  padding-bottom: 100px;
}

.moodboard-collage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  margin-top: 20px;
}

.moodboard-collage figure {
  display: block;
  margin: 10px auto;
}

.moodboard-collage figure > img {
  height: auto;
  width: 300px;
}

.moodboard-palette {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
}

.moodboard-palette > div {
  height: 200px;
  width: 200px;
  margin: 10px auto;
}

.moodboard-palette > div {
  border: 1px solid #000;
}

.palette-color {
  padding: 2%;
}

.palette-color > span:first-of-type {
  color: #000;
  display: block;
}

.palette-color > span:last-of-type {
  color: #fff;
}

.listed-board {
  margin: 40px auto;
  text-align: left;
}

.listed-board a {
  margin-right: 2%;
}

.listed-board span {
  float: right;
}

.moodboard-list {
  padding-bottom: 100px;
}

footer {
  bottom: 0;
  height: 70px;
  padding-top: 5px;
}

footer p {
  font-size: 15px;
  margin-top: -10px;
}

.footer-social-container a {
  line-height: 50px;
  font-size: 30px;
  margin: 0 10%;
}

/*#entry-footer .footer-social-container a {
  color: #fff;
  opacity: 0;
}*/

#fadein-footer {
  color: #fff;
  background: none;
  display: none;
}

#fadein-footer p,
#fadein-footer h3 {
  color: #fff;
}

@media screen and (max-width: 1200px) {
  article,
  .blog-block,
  .subpage-main-text {
    width: 90%;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
  }

  h4,
  .contact-social {
    font-size: 20px;
  }

  a,
  p,
  .moodboard > span,
  .blog-section article figure figcaption {
    font-size: 18px;
  }

  header {
    height: auto;
    overflow: visible;
  }

  .expanda-nav {
    width: 90%;
  }

  .toggle-nav {
    display: block;
  }

  .logo-container {
    width: 50%;
  }

  /*.expanded {
    height: 100vh;
  }*/

  .toggle-nav a {
    display: block;
    margin: 0 auto;
    width: 80%;
  }

  .entry-logo h1 {
    font-size: 150px;
    margin-bottom: -30px;
  }

  .entry-logo h3 {
    border-radius: 15px;
    line-height: 30px;
  }

  .entry-logo a {
    display: block;
    margin-bottom: 20px;
  }

  .gallery-column {
    width: 99%;
  }

  .gallery-column figure,
  .gallery-sub-column figure {
    width: 100%;
  }

  .gallery-collection,
  .gallery-collection-hover {
    height: 450px;
    width: 300px;
  }

  .modal-content {
    width: 100%;
  }

  .moodboard .moodboard-collage h2 {
    display: box;
    margin: 0 auto;
  }

  /*.footer-social-container {
    margin: 10px auto;
  }*/

  footer {
    height: 60px;
  }

  footer p {
    margin-top: 0px;
  }

  .footer-social-container {
    /*display: block;
    float: none;*/
    margin: 0 auto;
    width: 100%;
  }

  .footer-social-container a {
    line-height: 30px;
    font-size: 25px;
  }

}
